---
import Image from "astro/components/Image.astro"
import logo from '../images/slide-1.jpg'
---



<nav>
    <!-- top Navbar -->
    <div class="bg-[#212529] text-base text-white flex justify-between items-center px-20 py-2">
        <div class="flex gap-6 items-center"> <span class="flex items-baseline gap-2" ><i class="fa-solid fa-phone"></i>+91 9549718564</span> <span class="flex items-baseline gap-2"><i class="fa-solid fa-envelope"></i>aman@gmail.com</span>  </div>
        <div class="flex gap-6 items-center">
            <!-- insta -->
            <i class="fa-brands fa-instagram"></i>
            <!-- fb -->
            <i class="fa-brands fa-facebook-f"></i>
            <!-- Twitter -->
            <i class="fa-brands fa-twitter"></i>
        </div>
    </div>
 <!--main navbar  -->

 <div class="flex justify-between text-gray-700 items-center px-20 py-2">
    <div class="logo">
        <h1 class="text-4xl font-medium font-serif">Look</h1>
    </div>
    <div class="nav-links">
        <ul class="flex gap-6 font-semibold items-center ">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Service</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Blog</a></li>
        </ul>
    </div>
 </div>
</nav>